/**
 * Association UI: Selector 
 */

[data-ui=aui-selector] .selectize-control {
	position: relative;
}

[data-ui=aui-selector] .selectize-input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.1rem solid #C5C5C5;
	border-radius: 0.4rem;
	margin-top: 0.2rem;
	overflow: hidden;
}

/* Items */

[data-ui=aui-selector] .item {
	color: #3D3D3D;
	padding: 0.8rem 1rem 0.7rem;
	border-top: 0.1rem solid transparent;
	display: block;
	box-shadow: 0 0.1rem 0 #cccccc, 0 0.2rem 0.15rem rgba(0, 0, 0, 0.1);
	background-color: #f5f5f5;
	position: relative;
}

[data-ui=aui-selector] .item + .item {
	margin-top: 0.1rem;
	border-top: 0.1rem solid #fafafa;
}

[data-ui=aui-selector] .selectize-input input {
	display: block;
	margin: 0;
	padding: 0;
	height: 3.1rem;
	line-height: 3.1rem;
	border: none;
	border-radius: 0.4rem;
	-webkit-user-select: auto !important;
	padding: 0 1rem;
	background-color: transparent;
	width: 100% !important;
}

[data-ui=aui-selector] .selectize-input .item + input {
	height: 3.2rem;
	line-height: 3.2rem;
}

[data-ui=aui-selector] .selectize-input input + .item {
	border-top-color: #DCDCDC;
	margin-top: 0.1rem;
}

[data-ui=aui-selector] .destructor {
	position: absolute;
	top: 0.8rem;
	right: 1rem;
	color: #aeaeae;
	border-bottom: none;
	font-weight: normal;
	margin: 0;
}

[data-ui=aui-selector] .destructor:hover {
	color: #494949;
}

/* Dropdown */

[data-ui=aui-selector] .selectize-dropdown {
	position: absolute;
	z-index: 1000;
	background: #fff;
	margin: 0.2rem 0 0 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 0 0.1rem rgba(0, 0, 0, 0.8), 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
	border-radius: 0.4rem;
	overflow: hidden;
}

[data-ui=aui-selector] .selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 16rem;
}

[data-ui=aui-selector] .selectize-dropdown .option {
	color: #3D3D3D;
	padding: 0.8rem 1rem 0.7rem;
	box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.15);
}

[data-ui=aui-selector] .selectize-dropdown .active {
	background-color: #668abe;
	color: #fff;
	box-shadow: none;
	cursor: pointer;
}
