/**
 * Association UI: Selector 
 */

[data-interface^=aui-selector] .selectize-control {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.1rem solid #C5C5C5;
	border-radius: 0.4rem;
	margin-top: 0.2rem;
	position: relative;
}

[data-interface^=aui-selector] .selectize-control::after {
	content: '';
	display: block;
	width: 2.2rem;
	height: 3.1rem;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(aui.selector.svg) center no-repeat;
	opacity: 0.7;
}

[data-interface^=aui-selector] .selectize-input {
	margin-top: -0.1rem;
	border-radius: 0.5em;
	overflow: hidden;
}

[data-interface^=aui-selector] .single .selectize-input::after {
	height: 100%;
}

[data-interface^=aui-selector] .single .selectize-input {
	padding-left: 1rem;
}

[data-interface^=aui-selector] .single .input-active {
	border-color: #999999;
}

/* Items */

[data-interface^=aui-selector] .item {
	color: #3D3D3D;
	padding: 0.7rem 0;
	position: relative;
	display: inline-block;
	position: relative;
	z-index: 100;
}

[data-interface^=aui-selector] .multi .item {
	padding: 0.8rem 1rem;
	box-shadow:;
	background-color: #f5f5f5;
	border-top: 0.1rem solid #ccc;
	box-shadow: inset 0 0.1rem 0 #fff, 0 0.2rem 0.15rem rgba(0, 0, 0, 0.15);
	display: block;
	height: 3.3rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[data-interface^=aui-selector] .multi .item + .item {
	border-top: 0.1rem solid #ccc;
}

[data-interface^=aui-selector] .multi .ordering {
	cursor: move;
	background-color: #668abe !important;
	border-color: #5c83ba !important;
	color: #fff;
	box-shadow: 0 0.2rem 0.15rem rgba(0, 0, 0, 0.1);
}

[data-interface^=aui-selector] .single .selectize-input input {
	display: inline;
	margin: 0;
	padding: 0;
	height: 2rem;
	line-height: 2rem;
	border: none;
	border-radius: 0.4rem;
	-webkit-user-select: auto !important;
	background-color: transparent;
}

[data-interface^=aui-selector] .single .selectize-input:not(.has-items) input {
	margin: 0.5rem 0;
}

[data-interface^=aui-selector] .multi .selectize-input input {
	height: 3.3rem;
	line-height: 2.1rem;
	margin: 0;
	padding: 0.6rem 1rem;
	display: block;
	width: 100% !important;
	position: relative !important;
	left: 0 !important;
	opacity: 1 !important;
	-webkit-user-select: auto !important;
	border: none;
	border-top: 0.1rem solid #ccc;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[data-interface^=aui-selector] .item span {
	display: block;
}

[data-interface^=aui-selector] .destructor {
	display: none;
}

[data-interface^=aui-selector] .multi .destructor {
	position: absolute;
	top: 0.7rem;
	right: 1rem;
	color: #aeaeae;
	border-bottom: none;
	font-weight: normal;
	margin: 0;
	display: block;
}

[data-interface^=aui-selector] .multi .destructor:hover {
	color: #494949;
}

/* Keep placeholder definitions separated, otherwise browsers might not apply the rules */

[data-interface^=aui-selector] .single .has-items ::-webkit-input-placeholder {
	color: transparent;
}

[data-interface^=aui-selector] .single .has-items ::-moz-placeholder {
	color: transparent;
}

[data-interface^=aui-selector] .single .has-items :-ms-input-placeholder {
	color: transparent;
}

/* Dropdown */

[data-interface^=aui-selector] .selectize-dropdown {
	position: absolute;
	z-index: 1000;
	background: #fff;
	margin: 0.3rem 0 0 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 0.1rem #C5C5C5, 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
	border-radius: 0.4rem;
	overflow: hidden;
}

[data-interface^=aui-selector] .single .selectize-dropdown {
	margin-top: 0.2rem;
}

[data-interface^=aui-selector] .selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 16rem;
}

[data-interface^=aui-selector] .selectize-dropdown .option {
	color: #3D3D3D;
	padding: 0.8rem 1rem 0.7rem;
	box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.15);
	width: 100%;
}

[data-interface^=aui-selector] .selectize-dropdown .active {
	background-color: #668abe;
	color: #fff;
	box-shadow: none;
	cursor: pointer;
}

/* Layouts */

[data-interface^=aui-selector] .item,
[data-interface^=aui-selector] .selectize-dropdown .option {
	white-space: nowrap;
}

[data-interface^=aui-selector] .item img,
[data-interface^=aui-selector] .selectize-dropdown .option img {
	float: left;
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	margin: -0.2rem 1rem -0.2rem 0;
}

[data-interface^=aui-selector] .item em,
[data-interface^=aui-selector] .selectize-dropdown .option em {
	font-style: normal;
	color: rgba(0, 0, 0, 0.4);
}

[data-interface^=aui-selector] .selectize-dropdown .active em {
	color: rgba(255, 255, 255, 0.7);
}

/* Sortable */

[data-interface="aui-selector-sortable"] .multi .item {
	cursor: -webkit-grab;
	cursor: grab;
}

[data-interface="aui-selector-sortable"] .multi .item::before {
	content: '';
	display: block;
	position: absolute;
	top: 1.2rem;
	left: 0;
	width: 0.5rem;
	height: 0.8rem;
	background-image: -webkit-linear-gradient(top, #dadada 0, #dadada 0.1rem, #fafafa 0.1rem);
	background-image: linear-gradient(to bottom, #dadada 0, #dadada 0.1rem, #fafafa 0.1rem);
	background-size: 100% 0.2rem;
	background-repeat: repeat-y;
}

[data-interface="aui-selector-sortable"] .multi .ordering {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

[data-interface="aui-selector-sortable"] .multi .item.ordering::before {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0.5) 0.1rem, transparent 0.1rem);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0.5) 0.1rem, transparent 0.1rem);
}

[data-interface^=aui-selector] .multi .ordering .destructor {
	color: rgba(255, 255, 255, 0.7);
}
